html {
	background-color: white;
	color: black;
	font-size: 20pt;
	font-family: 'Special Elite', cursive;
  background-image: url(typewriter.jpg);
}
p {
	margin-left: 60pt;
  margin-right: 60pt;
	font-style;
  line-height: 40px;
}
span.cite {
	margin-right: 30pt;
}
div.nav {
	float: right;
}

/*Add a nav button instead of links
change my citations to something separate and have text in-line regardless of double digits (look at demo project and in-line blocks to figure this out)*/
